/* Estilo del buscador */
.buscador-container {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

input {
  padding: 0.5rem;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/*Cuadro flotante de resultados */
.resultados-flotantes {
  position: absolute;
  top: 50px; 
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  max-height: 400px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 1000; /* se pone por encima de géneros */
}

/*Lista de resultados flotantes */
.resultados-flotantes ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resultados-flotantes li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.resultados-flotantes li img {
  width: 60px; /* tamaño más pequeño */
  height: auto;
  flex-shrink: 0;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 0;
}

.resultados-flotantes li div {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* Lista de libros*/
.lista-libros {
  list-style-type: none;
  padding: 0 40px; /*margen lateral interno */
  margin: 0 auto;  /*centra la lista */
  max-width: 1000px; /* evita que se estire demasiado en pantallas grandes */
}

.lista-libros li {
  display: flex;
  align-items: flex-start;
  gap: 20px; /* Espacio entre la imagen y el texto */
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  padding-right: 40px;
}


.lista-libros li img {
  width: 120px;
  height: auto;
  flex-shrink: 0;
  border-radius: 6px;
  margin: 0;
  margin-left: 40px; 
}

.lista-libros li div {
  flex: 1; /* ocupa el resto del espacio */
  text-align: justify;
  margin-right: 40px; 
}

/* Sección de géneros */
.generos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.genero {
  padding: 8px 12px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
}
@media (max-width: 768px) {
  /* Buscador */
  input {
    width: 80%; /* se adapta al ancho de la pantalla */
  }

  .resultados-flotantes {
    width: 90%; /* se adapta al contenedor */
    left: 50%;
    transform: translateX(-50%);
  }

  /* Lista de libros */
  .lista-libros li {
    flex-direction: column; /* apila imagen y texto */
    align-items: center;
    padding-right: 0;
    gap: 10px;
  }

  .lista-libros li img {
    width: 60%; 
    margin-left: 0;
  }

  .lista-libros li div {
    margin-right: 0;
    text-align: center; 
  }

  /* Sección de géneros */
  .generos-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 8px;
  }
}

@media (max-width: 480px) {

  .generos-grid {
    grid-template-columns: 1fr; 
  }
}
