<div class="home-container">

  <!-- BOTONES -->
  <div class="botones-principales">

    <!-- Libros -->
    <div class="dropdown">
      <button class="btn-explorar">📚 Libros</button>
      <div class="dropdown-content">
        <a routerLink="/busqueda-libros">🔍 Búsqueda de Libros</a>
        <a routerLink="/mejores-libros">⭐ Mejores Libros</a>
        <a routerLink="/reseñas-libros">✍️ Reseñas</a>
        <a routerLink="/recomendaciones-libros">📖 Recomendaciones</a>
      </div>
    </div>

    <!-- Series / Películas -->
    <div class="dropdown">
      <button class="btn-explorar">🎬 Series/Películas</button>
      <div class="dropdown-content">
        <a routerLink="/series/busqueda">🔎 Búsqueda de series/películas</a>
        <a routerLink="/series/mejores">⭐ Mejores series/películas</a>
        <a routerLink="/series/resenas">✍️ Reseñas</a>
        <a routerLink="/series/recomendaciones">📖 Recomendaciones</a>
      </div>
    </div>

  </div>

  <!--LIBROS -->
  <section class="novedades">
    <h2>⭐Libros mejor valorados</h2>

    <p *ngIf="cargandoLibros">Cargando libros…</p>

    <ul *ngIf="!cargandoLibros && topLibros.length > 0" class="cards">
      <li *ngFor="let libro of topLibros" class="card">
        <a
          [routerLink]="['/busqueda-libro', libro.libroId]"
          class="card-link">
          <img
            [src]="libro.imagen"
            [alt]="'Portada de ' + libro.titulo">
        </a>

        <div class="card-info">
          <strong>{{ libro.titulo }}</strong>
          <span>⭐ {{ libro.promedio | number:'1.1-1' }}</span>
        </div>
      </li>
    </ul>
  </section>

  <!-- PELÍCULAS -->
  <section class="novedades">
    <h2>⭐ Películas mejor valoradas</h2>

    <p *ngIf="cargandoPeliculas">Cargando películas…</p>

    <ul *ngIf="!cargandoPeliculas && topMovies.length > 0" class="cards">
      <li *ngFor="let peli of topMovies" class="card">
        <img
          [src]="peli.imagen"
          [alt]="peli.titulo"
          class="clickable"
          (click)="verDetallePelicula(peli.id)">
        <div class="card-info">
          <strong>{{ peli.titulo }}</strong>
          <span>⭐ {{ peli.puntuacion }}</span>
        </div>
      </li>
    </ul>
  </section>

  <!-- SERIES-->
  <section class="novedades">
    <h2>⭐ Series mejor valoradas</h2>

    <p *ngIf="cargandoSeries">Cargando series…</p>

    <ul *ngIf="!cargandoSeries && topSeries.length > 0" class="cards">
      <li *ngFor="let serie of topSeries" class="card">
        <img
          [src]="serie.imagen"
          [alt]="serie.titulo"
          class="clickable"
          (click)="verDetalleSerie(serie.id)">
        <div class="card-info">
          <strong>{{ serie.titulo }}</strong>
          <span>⭐ {{ serie.puntuacion }}</span>
        </div>
      </li>
    </ul>
  </section>

</div>
