.footer {
  text-align: center;
  background-color: #F7EFE5;
  color: black;
  padding: 1rem;
  font-size: 14px;
}

/* Responsive footer */
@media (max-width: 768px) {
  .footer {
    font-size: 12px;
    padding: 0.5rem;
  }
}
