
<div *ngIf="libro" class="detalle-libro">
  <h2>{{ libro.titulo }}</h2>

  <div class="contenido-libro">
    <div class="imagen">
      <img
        [src]="libro.imagen || '/assets/images/imagenNoDisponible.png'"
        alt="Portada"
        (error)="reemplazarImagen($event)"
      />
    </div>

    <div class="descripcion">
      <p><strong>Autor:</strong> {{ libro.autor }}</p>
      <strong>Descripción:</strong>
      <p [innerHTML]="libro.descripcion"></p>
    </div>
  </div>

  <div class="boton-centro">
    <button (click)="abrirModal()">
      Añadir a mi lista
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal-overlay" *ngIf="mostrarModal">
  <div class="modal">
    <h3>{{ libro.titulo }}</h3>

    <div class="campos-horizontal">
      <div class="campo-horizontal">
        <label>Estado:</label>
        <select [(ngModel)]="estadoSeleccionado">
          <option value="lectura">Lectura</option>
          <option value="terminado">Terminado</option>
          <option value="en espera">En espera</option>
          <option value="abandonado">Abandonado</option>
          <option value="plan para leer">Plan para leer</option>
        </select>
      </div>

      <div class="campo-horizontal">
        <label>Puntuación:</label>
        <input type="number" [(ngModel)]="puntuacion" min="1" max="10" />
      </div>
    </div>

    <div class="modal-buttons">
      <button (click)="guardarLibro()">Guardar</button>
      <button class="cancelar" (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
</div>
